@font-face {
    font-family: 'Satoshi-var';
    src: url('../src/fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Satoshi-var;
}